node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
.env.example
README.md
Thumbs.db
.DS_Store
.vscode
.idea
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
vendor
bootstrap/cache/*